// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcomeTitle {
  
}

#centralImage {
  height: auto;
  //width: auto;
  width: 70%;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 30px 10px white;
}

.welcomeTile {
  position: relative;
  margin: 30px auto 30px auto;
  padding: 10px 20px 10px 20px;
  background-color: rgba(100,100,100,0.5);
  box-shadow: 0 0 20px white, inset 0 0 20px white;
  border-radius: 10px;
  font-family: urw chancery l, monotype corsiva, serif;
  font-size: 36pt;
  transition: box-shadow 0.5s;
  //width: 300px;
  //width: 100%;
  width: auto;
  vertical-align: top;

}

.welcomeTile:hover {
  box-shadow: 0 0 20px white, inset 0 0 20px white,
    0 0 20px white, inset 0 0 20px white;
}

.welcomeTile a {
  text-decoration: none;
}

.tileTitle {
  font-size: 32pt;
}

.welcomeTileText {
  font-family: serif;
  font-style: italic;
  font-size: 18pt;
  padding: 20px 30px 20px 30px;
}

.centerWelcomeTile {
  margin: 30px auto;
  width: 70%;
}

#welcomeTable {
  display: table;
  margin: 0 auto;
  width: 90%;
}

#welcomeTable div {
}

#welcomeBox {
  text-align: center;
}

.welcomeTableColumn {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
}

#welcomeText {
  margin: 30px 10% 30px 10%;
  padding: 30px 30px 30px 30px;
  font-family: serif;
  font-style: italic;
  font-size: 18pt;
  text-align: left;
  width: auto;
}


